.link_shortener_section {
    width: 85%;
    margin: 5rem auto 1rem auto;
    padding: 1.25rem 1rem;
    background: url("../images/bg-shorten-mobile.svg");
    background-color: $dark-violet;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 12.5rem;
    border-radius: .5rem;

    form {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        
        #input {
            padding: .75rem .5rem;
            border: none;
            border-radius: .5rem;

            &::placeholder {
                font-family: Poppins;
            }
        }
        
        #submit {
            background: $cyan;
            font-family: inherit;
            color: #fff;
            font-weight: 700;
            padding: .75rem 0;
            border: none;
            border-radius: .5rem;
        }
    }
}

.shortened_link_container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    border-radius: .5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-size: .9rem;
    text-align: start;

    .full_link {
        padding: 0 1rem .75rem 1rem;
        color: $very-dark-violet;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid $grayish-violet;
    }

    .shortened_link {
        padding: .75rem 1rem;
        color: $cyan;
    }

    .copy {
        background: $cyan;
        font-family: inherit;
        color: #fff;
        font-weight: 700;
        border: none;
        border-radius: .35rem;
        padding: .5rem;
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .link_shortener_section {
        padding: 2.5rem;
        background: url("../images/bg-shorten-desktop.svg") $dark-violet no-repeat;
        background-size: 100%;

        form {
            flex-direction: row;

            #input {
                width: 90%;
            }

            #submit {
                width: 10%;
                cursor: pointer;

                &:hover {
                    background: hsl(180, 95%, 63%);
                    transition: .2s;
                }
            }
        }

    }
}

.shortened_link_container {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-size: .9em;

    .full_link {
        padding: 0;
        border: none;
    }

    .shortened_link {
        margin-left: auto;
    }

    .copy {
        width: 7.5rem;
        margin: 0;
        cursor: pointer;

        &:hover {
            background: hsl(180, 95%, 63%);
            transition: .2s;
        }
    }
}