@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  header {
    padding: 2rem 0rem 1rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .logo_button_wrapper {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo_button_wrapper button {
    border: none;
    background: none;
  }
  header nav .nav-ul {
    width: 85%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.75rem;
    border-radius: .75rem;
    background: #3b3054;
    position: absolute;
    left: 0;
    right: 0;
    top: -999rem;
    -webkit-transition: 2s;
    transition: 2s;
    margin: auto;
  }
  header nav .nav-ul.show {
    top: 5.5rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  header nav .nav-ul li {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
  }
  header nav .nav-ul li:nth-child(4) {
    border-top: 1px solid #9e9aa7;
    padding-top: 1rem;
  }
  header nav .nav-ul li:nth-child(5) {
    margin-bottom: 0;
    background: #2acfcf;
    border-radius: 5rem;
    padding: .4rem 0;
  }
  header nav .nav-ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
  }
  header nav .nav-ul li a.signup_link {
    background: #2acfcf;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header button {
    display: none;
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
  }
  header nav .nav-ul li:nth-child(1) {
    margin-left: 2rem;
  }
  header nav .nav-ul .push_right {
    margin-left: auto;
  }
  header nav .nav-ul a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #9e9aa7;
    cursor: pointer;
  }
  header nav .nav-ul a:hover {
    color: #232127;
    -webkit-transition: .2s;
    transition: .2s;
  }
  header nav .nav-ul a.signup_link {
    background: #2acfcf;
    color: #fff;
    padding: .5rem 1.25rem;
    border-radius: 3rem;
  }
  header nav .nav-ul a.signup_link:hover {
    background: #47fafa;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

main .hero_image {
  margin: auto;
}

main .main_text_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  text-align: center;
}

main .main_text_wrapper h1 {
  color: #35323e;
}

main .main_text_wrapper p {
  color: #9e9aa7;
}

main .main_text_wrapper .get_started_link {
  margin-top: .75rem;
  background: #2acfcf;
  padding: .75rem 2rem;
  border-radius: 5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 3rem 9rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
  }
  main .hero_image {
    width: 55%;
    position: relative;
    left: 10rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  main .main_text_wrapper {
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 45%;
  }
  main .main_text_wrapper h1 {
    font-size: 2.75rem;
    line-height: 3rem;
  }
  main .main_text_wrapper .get_started_link:hover {
    background: #47fafa;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

@media screen and (min-width: 1280px) {
  main .main_text_wrapper h1 {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
}

@media screen and (min-width: 1440px) {
  main .main_text_wrapper h1 {
    font-size: 4.35rem;
    line-height: 5rem;
  }
  main .main_text_wrapper p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1600px) {
  main .main_text_wrapper h1 {
    font-size: 4.95rem;
    line-height: 6rem;
  }
  main .main_text_wrapper p {
    font-size: 1.5rem;
  }
}

.link_shortener_section {
  width: 85%;
  margin: 5rem auto 1rem auto;
  padding: 1.25rem 1rem;
  background: url("../images/bg-shorten-mobile.svg");
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 12.5rem;
  border-radius: .5rem;
}

.link_shortener_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
}

.link_shortener_section form #input {
  padding: .75rem .5rem;
  border: 2px solid transparent;
  border-radius: .5rem;
}

.link_shortener_section form #input::-webkit-input-placeholder {
  font-family: Poppins;
}

.link_shortener_section form #input:-ms-input-placeholder {
  font-family: Poppins;
}

.link_shortener_section form #input::-ms-input-placeholder {
  font-family: Poppins;
}

.link_shortener_section form #input::placeholder {
  font-family: Poppins;
}

.link_shortener_section form #input.error::-webkit-input-placeholder {
  color: #f46262;
}

.link_shortener_section form #input.error:-ms-input-placeholder {
  color: #f46262;
}

.link_shortener_section form #input.error::-ms-input-placeholder {
  color: #f46262;
}

.link_shortener_section form #input.error::placeholder {
  color: #f46262;
}

.link_shortener_section form #submit {
  background: #2acfcf;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  padding: .75rem 0;
  border: none;
  border-radius: .5rem;
}

.shortened_link_container {
  padding: 1rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5rem;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-size: .9rem;
  text-align: start;
  display: none;
}

.shortened_link_container .full_link {
  padding: 0 0 .75rem 0;
  width: 90%;
  color: #232127;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #9e9aa7;
}

.shortened_link_container .shortened_link {
  padding: .75rem 0;
  width: 90%;
  color: #2acfcf;
}

.shortened_link_container .copy {
  background: #2acfcf;
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: .35rem;
  padding: .5rem;
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .link_shortener_section {
    padding: 2.5rem;
    background: url("../images/bg-shorten-desktop.svg") #3b3054 no-repeat;
    background-size: 100%;
  }
  .link_shortener_section form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .link_shortener_section form #input {
    width: 90%;
  }
  .link_shortener_section form #submit {
    width: 10%;
    cursor: pointer;
  }
  .link_shortener_section form #submit:hover {
    background: #47fafa;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .shortened_link_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    font-size: .9em;
    gap: 1rem;
  }
  .shortened_link_container .full_link {
    padding: 0;
    border: none;
  }
  .shortened_link_container .shortened_link {
    width: auto;
    margin-left: auto;
  }
  .shortened_link_container .copy {
    width: 7.5rem;
    margin: 0;
    cursor: pointer;
  }
  .shortened_link_container .copy:hover {
    background: #47fafa;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

.statistics {
  width: 85%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.statistics .heading_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.statistics .heading_wrapper h2 {
  color: #232127;
}

.statistics .heading_wrapper p {
  color: #9e9aa7;
}

.statistics .features_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.statistics .feature {
  text-align: center;
  padding: 0 .5rem .5rem .5rem;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: #fff;
}

.statistics .feature h3 {
  color: #232127;
  margin-top: 1rem;
}

.statistics .feature p {
  color: #9e9aa7;
}

.statistics .feature .img_bg {
  background: #3b3054;
  width: 75px;
  height: 75px;
  padding: 1rem;
  border-radius: 50%;
  margin: auto;
  margin-top: -2.25rem;
}

.statistics .blue_bg {
  width: .5rem;
  background: #2acfcf;
  height: 21.75%;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

@media screen and (min-width: 1024px) {
  .statistics {
    margin: 10rem auto;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistics .heading_wrapper {
    width: 500px;
  }
  .statistics .heading_wrapper h2 {
    font-size: 2.5rem;
  }
  .statistics .heading_wrapper p {
    font-size: 1.2rem;
  }
  .statistics .features_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
  }
  .statistics .features_wrapper .feature {
    text-align: start;
    max-width: 315px;
  }
  .statistics .features_wrapper .feature:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .statistics .features_wrapper .feature:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .statistics .features_wrapper .feature:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .statistics .features_wrapper .feature .img_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-top: -2.25rem;
  }
  .statistics .features_wrapper .feature h3 {
    margin-top: 0;
  }
  .statistics .blue_bg {
    height: .5rem;
    width: 870px;
    margin: auto;
    left: 0;
    right: 0;
    top: 60%;
  }
}

.boost {
  margin-top: 7.5rem;
  background: url("../images/bg-boost-mobile.svg") #3b3054 no-repeat;
  background-size: 100% 100%;
  padding: 5rem 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.boost h2 {
  color: #fff;
}

.boost a {
  background: #2acfcf;
  padding: .75rem 2rem;
  border-radius: 5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.boost a:hover {
  background: #47fafa;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (min-width: 1024px) {
  .boost {
    padding: 4rem 2rem;
    background: url("../images/bg-boost-desktop.svg") #3b3054 no-repeat;
    background-size: 100% 100%;
    gap: 1.5rem;
  }
  .boost h2 {
    font-size: 2.5rem;
  }
}

footer {
  background: #232127;
  padding: 3rem 0;
}

footer .bg_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

footer nav ul {
  text-align: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer nav ul li {
  color: #fff;
}

footer nav ul li:nth-child(1) {
  margin-bottom: .75rem;
}

footer nav ul li a {
  color: #bfbfbf;
  text-decoration: none;
}

footer nav .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

footer nav .socials svg {
  fill: #fff;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 5rem 0;
  }
  footer .bg_wrapper {
    width: 85%;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    gap: 4.5rem;
  }
  footer nav ul {
    text-align: start;
  }
  footer nav ul li a:hover {
    color: #2acfcf;
    -webkit-transition: .2s;
    transition: .2s;
  }
  footer nav ul:nth-of-type(1) {
    margin-left: auto;
  }
  footer nav ul:nth-of-type(3) {
    margin-right: auto;
  }
  footer nav .socials svg:hover {
    fill: #2acfcf;
    -webkit-transition: .2s;
    transition: .2s;
  }
}
/*# sourceMappingURL=style.css.map */